*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared Style */
.container{
    max-width:1110px;
    margin:0 auto;
}
.fonts-primary{
    font-family: "Poppins", sans-serif;
}

.color-primary{
    color: rgba(58, 58, 58, 1);
}
.btn-primary{
    width: 196px;
    height: 44px;
    padding: 10px 24px;
    border-radius: 41px;
    color:rgba(255, 255, 255, 1) ;
    background-color:rgba(224, 44, 109, 1) ;
    border: none;
    font-weight: bold;
    
}
.btn-icon{
    margin-left: 8px ;
}



/* Nav Style */
header{
    max-width: 1200px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:50px;
}
nav ul{
    display: flex;
    gap: 20px;
}
nav li{
    list-style: none;
}
nav li a {
    text-decoration:none;
    font-weight: 600;
    font-size: 1rem;
}
.nav-title{
    font-weight: bold;
    font-size: 1.5rem;
}
.banner-image{
    background-image: url(../images/Circle\ design.svg);
    opacity: 100%;
    background-repeat: no-repeat;
    background-size:contain;

}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    gap:133px;
}
.banner-title{
    max-width: 542px;
    font-weight: bold;
    font-size: 3.25rem;
}
.banner-description{
    max-width: 505px;
    font-weight: 600px;
    font-size: 1rem;
    margin: 16px 0;
}






@media  screen and (max-width:576px) {
    nav{
        flex-direction: column;
    }
    nav ul{
        margin-top: 20px;
    }
    
        
        
    
    .banner{
        flex-direction: column-reverse;
        justify-content: center;
        gap:20px;

    }
    .banner-right{
    width:100%;
    text-align: center;
    
    }
    .banner-image{
        width:75%;

}


    .banner-left{
        text-align: center;
        max-width:100%;
        
       }
    .banner-title{
        max-width:100%;
        font-weight: bold;
        font-size:2.3rem;
        
    }  
    .banner-description{
        max-width:400px;
        margin:16px auto;
    } 
    .btn-primary{
        width:55%;
        height: 60px;
        padding:16px 24px;
        font-weight:bold;
        font-size: 1.2em;
    }
}
